:root {
    --colour-base: #0a100d;
    --colour-text: #f8f1ff;
    --colour-highlight: #f5f749;
    --colour-border: #2e86ab;
    --font-base: 'Times New Roman', serif;
    --font-heading: ;
    --font-mono: monospace;
}

body {
    background-color: var(--colour-base);
    color: var(--colour-text);
    font-family: var(--font-base);
    font-size: 1.1em; line-height: 120%;
}

header {display: flex; justify-content: flex-start; margin-bottom: 15px;}
header > img {width: 30px; margin-right: 15px;}
header > span {font-size: 2rem; font-weight: bold; line-height: normal;}

nav {width: 150px;}
nav > ul {padding: 0px; margin-top: 0px;}

main {max-width: 650px;}
main > h1 {display: none;}
main > h2 {font-size: 2rem;}
main p {margin-top: 0px; margin-bottom: 15px;}
main img {width: 100%; padding-bottom: 15px;}
main img.medium {max-width: 300px;}
main img.small {max-width: 150px;}
main > ul {margin-top: 0px;}

footer {display: flex; justify-content: space-between; border-top: 2px var(--colour-text) solid; padding-top: 15px;}

a {color: inherit;}

.flex {display: flex;}
.nodec {text-decoration: none;}
.nobull {list-style-type: none;}
.cap:first-letter {text-transform: capitalize;}
